*{
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#header{
    background-color: #4d4dff;
    height: 15vh;
    width: 100vw;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#landing{
    background: #2b0080;
    display: flex;
    flex-grow: 1;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#footer{
    background-color: black;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer >p{
    font-size: 16px;
    color: white;
}

.text{
    border: solid 4px #4d4dff;
    color: white;
    font-size: 42px;
    width: 30vw;
    text-align: left;
    padding: 12px;
}

.text >p {
    padding: 12px;
}

img{
    border: solid 4px #4d4dff ;
    position: relative;
    right: 5vw;
}

ul{
    list-style-type: none;
    margin: 5vw;
}

#header-btns{
    display: flex;
    gap: 20px;
}

#header >h1{
    margin: 5vw;
}

button{
    background-color: #2b0080;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover{
    background-color:black;
    color: white;
}